# Arquivos e pastas do ambiente de desenvolvimento
.idea/
*.iml
out/
.idx/
.vscode/
.env

# Pasta de arquivos aleatórios
_aleatorios/

# Arquivos de build do Maven
target/
.mvn/wrapper/maven-wrapper.jar
build/

# Arquivos de log
*.log

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

### IDEs e Ferramentas ###

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Visual Studio Code / IDX
.vscode/
.idx/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
sts4-cache

# NetBeans
/nbproject/private/
/nbuild/
/dist/
/nbdist/
.nb-gradle/
